---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>
		<div style="padding-top: 50px">
		  <a href={{ page.app_link }} class="button button--large" >Go To App</a>
          <a href={{ page.repo_link }} class="button button--large">GitHub</a>
        </div>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}

		</article>

	</div>

</section>